<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>坐忘围棋 - SGF</title>
</head>
<body>	<p>SGF File Format FF[4]</p>
	<p>这是SGF格式的文档，来自官方网站<a href="http://www.red-bean.com/sgf/">http://www.red-bean.com/sgf/</a>。</p>
	<p>SGF is the abbreviation of 'Smart Game Format'. The file format is designed to store game records of board games for two players. It's a text only, tree based format. Therefore games stored in this format can easily be emailed, posted or processed with text-based tools. </p>
	<p>The main purposes of SGF are to store records of played games and to provide features for storing annotated and analyzed games (e.g. board markup, variations). </p>
	<p>
		Last updated: 2001-08-12<br>
		See <a href="history.html">history</a> for changes.
	</p>
	<ul>
		<li>
			<a href="user_guide/index.html">Users guide</a><br>
			An user orientated introduction to SGF files.
		</li>
		<li>
			<a href="examples/index.html">Example file</a><br>
			An example SGF file plus pictures to show the basic and sophisticated features of SGF.
		</li>
		<li>
			Basics<br>
			<a href="sgf4.html">Basic definition and types</a><br>
			Additional <a href="var.html">examples for variations</a><br>
			Game specific definitions and types <a href="go.html">Go (GM[1])</a>
		</li>
		<li>
			Properties<br>
			<a href="properties.html">General properties</a><br>
			Game specific properties <a href="go.html">Go (GM[1])</a><br>
			<a href="proplist.html">Short index of all properties</a> (alphabetical)<br>
			<a href="proplist_t.html">Short index of all properties</a> (sorted by property type &amp; game)
		</li>
		<li>
			<a href="proplist_ff.html">Index of properties</a><br>
			Index of all FF[1]-FF[4] properties (alphabetical).
		</li>
		<li>
			<a href="changes.html">Changes to FF[3]</a><br>
			To get a quick overview of what's new in FF[4] have a look at the changes from FF[3].
		</li>
		<li>
			<a href="compatibility.html">Compatibility</a><br>
			Compatibility issues.
		</li>
		<li>
			<a href="converting.html">Converting</a><br>
			Converting old files to FF[4].
		</li>
	</ul>
	<hr>
	<span>&copy;&nbsp;IWDb.cn&nbsp;&nbsp;<i>最后更新：2016-3-17</i></span>
</body>
</html>
